*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    margin-bottom: 50px;
}

.common-tag{
    text-align: center;
    margin-bottom: 45px;
    font-family: Roboto;
}
.common-tag span{
    color: rgb(252, 3, 3);
    /* transition: 2s all ease-in; */
}
.common-tag span:hover{
    text-decoration: underline;
}

/* carousel Section Design Start */
.carousel-caption{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
}
.carousel-caption p{
    color: rgb(218, 2, 2);
    font-size: 25px;
    font-family: Roboto;
}
.carousel-caption h2{
    font-size: 38px;
    color: rgba(5, 4, 4, 0.966);
    font-weight: bold;

}
.carousel-caption span{
    font-size: 40px;
    font-weight: bold;
    color: rgba(241, 7, 7, 0.966);
}
.carousel-caption h3{
    font-size: 38px;
    color: rgba(5, 4, 4, 0.966);
    font-weight: bold;
}
.carousel-caption .btn{
    /* margin-left: 10px; */
    padding: 15px 35px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 60%;
    left: 5%;
  }
  .carousel-caption h5 {
    font-size: 28px;
  }
  .carousel-caption p {
    font-size: 16px;
  }
}
/* carousel Section Design End */

/* Card Section Design Start */



.card .card-body span{
    font-size: 25px;
    font-weight: bold;
    font-family: Roboto;
    color: rgb(235, 10, 10);
}
.card .card-body del{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
}
.card .card-body h2{
    font-size: 35px;
    font-weight: bold;
    font-family: Roboto;
    margin: 20px 0;
}
.card .card-body p{
    font-size: 18px;
    font-family: Roboto;
    margin-bottom: 30px;
}











/* Card Section Design End */


/* Footer Design Start */
.mainfooter{
    background-color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-left: 20px; */
}
.mainfooter .text{
    margin-top: 30px;
}
.mainfooter .text p{
    font-size: 16px;
    font-family: Roboto;
}
.mainfooter .items{
    margin-left: 25px;
}
.mainfooter .items h4{
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}
.mainfooter .items ul{
    padding-left: 0;
    list-style: none;
    margin-top: 20px;
}
.mainfooter .items ul li{
    margin-bottom: 10px;
}
.mainfooter ul li a box-icon{
    width: 25px;
    font-size: 20px;
    border-radius: 50px;
    font-weight: 400;
}
.mainfooter ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #95a5a6;
    transition: 0.5s all ease;
}
.mainfooter ul li a:hover{
    color: rgb(233, 8, 8);
    margin-left: 5px;
}
.mainfooter .last h4{
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    font-family: Roboto;
}
.mainfooter .last p{
    font-size: 16px;
    font-family: Roboto;
    margin-top: 20px;
}
.mainfooter .last input{
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 25px;
}



@media (max-width: 1200px){

    .mainfooter{
        margin-left: 0;
    }
    .mainfooter .first{
        width: 22%;
    }
}

@media (max-width: 990px) {
 .mainfooter .footer {
    flex-wrap: wrap;
  }

  .mainfooter .footer .items{
    margin-left: 30px;
  }
  .mainfooter .footer .second{
    margin-left: 45px;
  }
  .mainfooter .footer .third{
    margin-left: 0;
  }
    .mainfooter .footer .fourth{
        margin-top: 40px;
    }
    .mainfooter .footer .last{
        margin-top: 20px;
    }
  .mainfooter .text p{
    font-size: 14px;
  } 
}


@media (max-width: 760px){

    .mainfooter .first {
        width: 40%;
    }
    .mainfooter .footer .second{
        margin-top: 45px;
    }
    .mainfooter .footer .third{
        width: 40%;
    }
    .mainfooter .footer .third{
        margin-top: 30px;
    }
    .mainfooter .footer .last{
        margin-right: 30%;
    }
}
@media (max-width: 575px){
    .mainfooter .footer .last {
        margin-right: 5%;
    }
}
@media (max-width: 325px){
    .mainfooter .first {
        width: 100%;
    }
    .mainfooter .footer .second{
        width: 100%;
        margin-top: 20px;
        margin-left: 15px;
    }
    .mainfooter .footer .third{
        width: 100%;
        margin-left: 15px;
    }
    .mainfooter .footer .fourth{
        margin-right: auto;
        margin-left: 15px;
    }
    .mainfooter .footer .last{
        margin-left: 10px;
    }
}
/* Footer Design End */
